<%- include('../partials/header') %>
<section id="admin-hero">
    <div class="admin-flex">
        <div id="admin-background">
            <%- include('../partials/navbarWhite') %>
            
            <div id="admin-hero-header">
                <h1>Welcome Admins!</h1>
                <h4>Thank you for all of your help!</h4>
                <p>Without all of you, this project could not have happened. Thank you for your time, passion and knowledge. This page contains all of the resources you need to upload a video.</p>
            </div> 
            <div class="admin-container">
                <a href="admin/addReport">Add Report</a>
            </div>
        
        </div>
    </div>
</section>
<%- include('../partials/footer') %> 