<%- include('../partials/header') %>
<section id="admin-hero">
    <div id="admin-background">
        <%- include('../partials/navbar') %>
        <div id="admin-hero-header">
            <h1>Welcome Admins!</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus magnam cupiditate sunt amet voluptas molestias tempora consectetur nemo excepturi mollitia sed architecto, labore praesentium totam officiis magni, id harum molestiae.
            Animi reiciendis commodi consequatur, eius, assumenda nulla saepe natus perferendis ab maxime nam suscipit sint magni vero quaerat. Illo praesentium laboriosam sunt, itaque dicta quas modi beatae atque nihil ea!</p>
        </div> 
    </div>
    <div class="admin-container">
        <a href="admin/addReport">Add Report</a>
    </div>
</section>
<%- include('../partials/footer') %> 