/* navbar styles */
#navLogo {
	width: 20em;
	image-rendering: crisp-edges;
	padding-left: 3em;
}
.navLinks {
	margin-left: auto;
	padding-right: 2em;
}
nav .navbar-nav li a {
	color: #ffffffc7 !important;
    font-size: 20px;
}
.nav-link {
	transition: 200ms !important;
}
.nav-link:hover,
.dropdown-item:hover {
	color: black !important;
}
.nav-link:active {
	transform: scale(.9) !important;
}

/* header styles */
.hero-header {
	width: 70%;
	margin: auto;
}

#hero-banner {
	color: white;
	text-align: center;
	font-size: 3em;
	font-family: 'Poppins', sans-serif;
	transform: translateY(2em);
}
/* footer styles */
.footer-logo img {
	width: 5em;
	height: 5em;
	image-rendering: auto;
}
footer {
	display: flex;
	justify-content: space-between;
	background-color: #99d6cf;
}
.footer-social-links {
	display: flex;
	margin-right: 3em;
	width: 8em;
	justify-content: space-around;
	align-items: center;
	opacity: .7;
}
.social-icons {
	width: 2.5em;
}

.footer-social-links a:hover {
	color: black;
	transform: scale(1.2)
}

.footer-social-links a:active {
	color: rgba(0, 0, 0, 0.452);
	transform: scale(1);
}
#hero {
	background: url('./images/contactBG.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	image-rendering: auto;
	height: 100vh;
}
#hero-background {
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.329);
	z-index: -1;
}
/* form styles */
form {
    flex-basis: 50%;
}
.contact {
    height: 75vh;
}
.contact form {
    margin-left: 3em;
}
.contact-form-container {
    width: 70%;
}
.contact-form-container div {
    margin: 1.5em;
}
#lastName {
   margin-left: 3em;
}

textarea {
    height: 7em;
}
#submitBtn {
    width: 100%;
}

/* page layout */
.page-container {
    display: flex;
}
.page-cta h2  {
    color: rgba(255, 255, 255, 0.795);
    font-size: 4em;
    transform: translateY(1.5em)
}
.social-icons-cta {
    ;
}