/* navbar styles */
#navLogo {
	width: 20em;
	image-rendering: crisp-edges;
	padding-left: 3em;
}
.navLinks {
	margin-left: auto;
	padding-right: 2em;
}
nav .navbar-nav li a {
	color: #ffffffc7 !important;
    font-size: 20px;
}
.nav-link {
	transition: 200ms !important;
}
.nav-link:hover,
.dropdown-item:hover {
	color: black !important;
}
.nav-link:active {
	transform: scale(.9) !important;
}
/* background image styles */
#hero {
	background: url('./images/teamBackground.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	image-rendering: auto;
	height: 80vh;
}
#hero-background {
	height: 80vh;
	background-color: rgba(0, 0, 0, 0.26);
	z-index: -1;
}
.hero-headers {
    width: 20em;
    margin: auto;
    text-align: center;
}
.hero-headers h3 {
    padding-top: .5em;
    color: rgba(255, 255, 255, 0.788);
    font-size: 38px;
}
@media only screen and (max-width: 600px){
    #hero, #hero-background {
        height: 70vh;
    }
    .hero-headers h3 {
        font-size: 30px;
    }
    .hero-headers {
        margin-top: 5em;
    }
    #navLogo {
        width: 12em;
        padding-left: 0;
    }
}
/*footer styles */
.footer-logo img {
	width: 5em;
	height: 5em;
	image-rendering: auto;
}
footer {
	display: flex;
	justify-content: space-between;
	background-color: #99d6cf;
    margin-top: 2em;
}
.footer-social-links {
	display: flex;
	margin-right: 3em;
	width: 8em;
	justify-content: space-around;
	align-items: center;
	opacity: .7;
}
.social-icons {
	width: 2.5em;
}

.footer-social-links a:hover {
	color: black;
	transform: scale(1.2)
}

.footer-social-links a:active {
	color: rgba(0, 0, 0, 0.452);
	transform: scale(1);
}

/* team section styles */
h2 {
    text-align: center;
    padding-top: 2em;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    flex-basis: 30%;
    margin-top: 2em;
    border: none;
    box-shadow: 0 0 10px;
    margin-bottom: 2em;
}


.card h4, p {
    text-align: center;
}
.card-text a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.658);
    font-weight: 700;
    transition: 600ms;
}
.card-text a:hover {
    text-decoration: underline;
}
@media only screen and (max-width: 600px){
    h2 {
        padding-top: 1em;
    }
    .card {
        flex-basis: 80%;
    }
}