<%- include('partials/header') %> 
    <section id="contact-hero">
        <div id="contact-hero-background">
<%- include('partials/navbarWhite') %> 
    <div class="contact">
      <div class="page-cta">
        <h2>Get In Touch!</h2>
      </div>
        <div class="page-container">
            <form  action="">
                <div class="contact-form-container row">
                    <div class="top-row">
                        <input type="text" class="form-control" placeholder="Full Name" aria-label="First name">
                    </div>
                    <div class="top-row">
                        <input type="email" class="form-control" placeholder="Email Address" aria-label="Last name">
                    </div>
                    <div id="contact-msg" class="input-group">
                        <span class="input-group-text">Message</span>
                        <textarea class="form-control" aria-label="Message"></textarea>
                    </div>
                    <div class="contactBtn"> 
                        <button id="submitBtn" type="button" class="btn btn-secondary btn-lg">Submit</button>
                    </div>
                </div>
            </form>
           
        </div>
    </div>
    </section>
      <%- include('partials/footer')%>