
<%- include('partials/header') %>
  <section id="team-hero">
    <div id="team-hero-background">
<%- include('partials/navbar') %> 
  <div class="team-hero-headers">
      <h3>Your Backountry</h3>
      <h3>Your Snowpack</h3>
      <h3>Your Team</h3>
  </div>
</div>
</section>
<section class="team">
    <h2>Meet the Team</h2>
    <hr style="width: 20%; margin-left: 40% !important; background-color: #335f78; height: .5em; border: none">
    <div class="team-container">
        <div class="team-card" style="width: 18rem;">
            <img src="/images/morgan+dinsdale.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>Morgan Dinsdale</h4>
              <p class="card-text">When she’s not guiding at Selkirk Snowcats, Morgan is busy bringing together the State of the Snowpack. As Producer/Director of the event she’s the one involved in pretty much everything.  </p>
            </div>
        </div>
        <div class="team-card" style="width: 18rem;">
            <img src="/images/Screen+Shot+2021-03-09+at+11.21.09+AM.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>Ryan Flett</h4>
              <p class="card-text">Adventure Photographer, Filmmaker, and Coach, Ryan is an explorer and environmentalist at heart, driven to share his experiences through imagery and stories that inspire people to care. Ryan is the man behind the camera at every State of the Snowpack bringing you the event live through Instagram and uploaded here. </p>
            </div>
        </div>
        <div class="team-card" style="width: 18rem;">
            <img src="/images/judson.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>Judson Wright</h4>
              <p class="card-text">ACMG Ski Guide, Canadian Avalanche Association Professional, Avalanche Educator, and Owner/Lead Guide for <a href="https://kootenaybackcountryguides.com/">Kootenay Backcountry Guides</a>, Judson has a hand in all things snow! Our local avalanche education connection, Judson is a key presenter for the State of the Snowpack, kicking off our first two events!</p>
            </div>
        </div>
        <div class="team-card" style="width: 18rem;">
            <img src="/images/tom-2-scaled.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4>Tom Weager</h4>
                <p class="card-text">I’m a landscape, sports and commercial photographer based in Nelson BC. My love of photography is driven by the power and emotion that it can convey in all walks of life, not just in the snow. I’m happiest behind the camera, and though you won’t be able to see it there will be a smile on my face. Though I consider myself a professional and care deeply about the work I help produce I always try to consciously make an effort not to take life too seriously. I love the work SOTS is putting together and it’s great to be part of such a cool team.</p>
            </div>
        </div>
        <div class="team-card" style="width: 18rem;">
            <img src="/images/ShaneHainsworth.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>Shane Hainsworth</h4>
              <p class="card-text">Shane, the founder of <a href="https://strawman.ca/">Strawman Productions</a>, is a producer, director, and live stream professional. His live streaming career started back in 2006 with multi-camera productions for theatre that took live video to a projector screen. He continued to produce and develop live stream events for organizations and companies around the region. Shane has been running Strawman Productions for 15 years now and has a large team skilled in multiple disciplines including live streaming, marketing, and video production.</p>
            </div>
        </div>
        <div class="team-card" style="width: 18rem;">
            <img src="/images/CathPaone.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h4>Cath Paone</h4>
              <p class="card-text">Cath's love for the mountains started the day she was born. She was raised on the slopes of Whistler Blackcomb, instructed at Grouse Mountain for six years, and fell in love with the Fernie champagne powder. Her love for skiing took her to Austria where she studied Alpine Tourism and to Japan where she lived out her JAPOW dreams. State of the Snowpack is a passion project that she is stoked to be part of and help bring it to other mountain towns!</p>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>