*{
    margin: 0;
    padding: 0;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
/* background image styles */
#hero {
	background: url('../images/TouringGlory.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	image-rendering: auto;
	height: 70vh;
	width: 100vw;
}
#hero-background {
	height: 70vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.288);
	z-index: -1;
}

/* navbar styles */
#navLogo {
	width: 10em;
	image-rendering: crisp-edges;
	padding-left: .5em;
}

.navbar {
	justify-content: flex-start;
}

.navLinks {
	margin-left: auto;
	padding-right: 2em;
}
nav .navbar-nav li a {
	color: #ffffffc7 !important;
  font-size: 20px;
}
.nav-link {
	transition: 200ms !important;
}
.nav-link:hover,
.dropdown-item:hover {
	color: black !important;
}
.nav-link:active {
	transform: scale(.9) !important;
}
/* hero style */
.hero-header {
    transform: translateY(7em);
    
}
.hero-header h1 {
	color: white;
	font-weight: 600;
	font-family: 'Jost', sans-serif;
	text-align: center;
	letter-spacing: .1em;
	animation: fadeUp 1s;
}



/*mission statement styles*/

.mission-statement-header {
	text-align: center;
	margin-top: 1em;
	font-family: 'Jost', sans-serif;
	font-weight: 600;
	font-size: 25px;
}
.mission-statement-container {
	width: 80vw;
	margin-left: 10vw;
	display: flex;
	flex-direction: column;
}
.mission-statement-card {
	margin-top: 1em;
}
.mission-statement-container img {
	width: 100%;
	box-shadow: 0 0 10px;
}

.mission-statement-card h3,p {
	text-align: center;
}
.mission-statement-card h3 {
	margin-top: 1em;
	font-family: 'Jost', sans-serif;
	font-weight: 600;
}
.mission-statement-card p {
	font-family: 'Nunito', sans-serif;
}

/* donate section styles */
#donation {
	background: url('/images/soloSkierLeft.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	image-rendering: auto;
	height: 60vh;
	width: 100vw;
	margin-top: 1em;
}
#donation-background {
	height: 60vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.541);
}
.donation-card {
	height: 80%;
	padding-top: 3em;
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.donation-card h2 {
	font-size: 40px;
	font-family: 'Jost', sans-serif;
}
.donation-card h4 {
	line-height: 1.4;
	font-family: 'Nunito', sans-serif;
}
.donation-card button {
	width: 8em;
	height: 3em;
	background-color: #99d6cf;
	font-weight: 700;
	border-radius: 5px;
	transition: 200ms;
	font-family: 'Nunito', sans-serif;
	align-self: center;
}

.donation-card button:hover {
	background-color: #335f78;
	border: none;
	color: #ffffffc7;
}

.donation-card button:active {
	transform: scale(.9)
}

/* testimonial styles */

.testimonial-card {
	height: 40vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-top: 3em;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 2em;
}
.testimonial-quote {
	font-family: 'Nunito', sans-serif;
	
}
.quote-credit {
	font-style: italic;
}



/*footer styles */
.footer-logo img {
	width: 5em;
	height: 5em;
	image-rendering: auto;
}
footer {
	position: relative;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	background-color: #99d6cf;
}
.footer-social-links {
	display: flex;
	margin-right: 1em;
	width: 8em;
	justify-content: space-around;
	align-items: center;
	opacity: .7;
}
.social-icons {
	width: 2em;
}

.footer-social-links a:hover {
	color: black;
	transform: scale(1.2)
}

.footer-social-links a:active {
	color: rgba(0, 0, 0, 0.452);
	transform: scale(1);
}

/* team background image styles */
#team-hero {
	background: url('/images/teamBackground.jpg') no-repeat right center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position-x: 70%;
	image-rendering: auto;
	height: 70vh;
	width: 100vw;
}
#hero-background {
	height: 70vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.404);
	z-index: -1;
}

/* team page styles */

.team-hero-headers {
	text-align: center;
	transform: translateY(4em)
}
.team-hero-headers h3 {
	font-family: 'Jost', sans-serif;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: .1em;
	font-size: 30px;
	animation: fadeUp 1s;
}

.team h2 {
	text-align: center;
	margin-top: 1em;
	font-family: 'Jost', sans-serif;
	font-weight: 600;
}
.team-container {
	margin-top: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.team-card {
	margin: 1em 0;
	flex-basis: 90%;
}
.team-card h4 {
	text-align: center;
}
.team-card img {
	flex-basis: 40%;
	box-shadow: 0 0 6px;
	border: none;
}
.card-text a {
	text-decoration: none;
	color: black;
	font-family: 'Jost', sans-serif;
	font-weight: 800;
}
.card-text a:hover, a:active {
	text-decoration: underline;
}
/* contact page styles */
#contact-hero {
	background: url('/images/contactBG.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	image-rendering: auto;
	height: 90vh;
}
#contact-hero-background {
	height: 90vh;
	background-color: rgba(0, 0, 0, 0.329);
	z-index: -1;
}
.page-cta {
	text-align: center;
	transform: translateY(4em);
	color: white;
}
.page-cta h2 {
	font-size: 50px;
}
form {
	width: 80vw;
	margin: auto;
	transform: translateY(6em);
}
.contact-form-container {
	height: 20em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
textarea {
	height: 8em;
}
#submitBtn {
    width: 100%;
    background-color: #99d6cf;
    transition: 250ms;
    color: black;
}
#submitBtn:hover {
    background-color: #335f78;
    color: rgba(255, 255, 255, 0.712);
}
/* registration styles */
#register-form-container {
	width: 80vw;
	margin: auto;
	margin-top: 0;
}
#register-form {
	width: 60vw;
	background-color: rgba(71, 71, 71, 0.699);
	padding: 1em;
	padding-bottom: 1em;
	border-radius: 15px;
	color: rgba(255, 255, 255, 0.712);
}
#register-form button {
	margin-top: 1em;
	width: 100%;
	background-color: #99d6cf;
    transition: 250ms;
    color: black;
}
#register-form button:hover {
    background-color: #335f78;
    color: rgba(255, 255, 255, 0.712);
}
#login-form-container {
	width: 80vw;
	margin: auto;
	margin-top: 0;
}
#login-form {
	width: 60vw;
	background-color: rgba(71, 71, 71, 0.699);
	padding: 1em;
	padding-bottom: 1em;
	border-radius: 15px;
	color: rgba(255, 255, 255, 0.712);
}
#login-form button {
	margin-top: 1em;
	width: 100%;
	background-color: #99d6cf;
    transition: 250ms;
    color: black;
}
#login-form button:hover {
    background-color: #335f78;
    color: rgba(255, 255, 255, 0.712);
}
#login-form a {
	font-size: 15px;
	margin-top: 1em;
	margin-left: 1.2em;
	color: #f7951dde;
	text-decoration: none;
	border: none;
}
#login-form a:hover, a:focus {
	text-decoration: underline;
}

/* admin home styles */
#admin-hero {
	background: url('/images/admin-home-bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	image-rendering: auto;
	height: 100vh;
	z-index: -1;
}

#admin-background {
	height: 100vh;
	width: 100vw;
	background-color: rgba(59, 59, 59, 0.692);
	/* z-index: -2; */
}
.admin-form {
	z-index: 1;
	width: 50vw;
	height: 50vh;
	margin: auto;
}
.admin-flex {
	display: flex;
}

.admin-container {
	width: 10em;
	margin: auto;
	margin-top: 3em;
}
.admin-container a {
	grid-column-start: 3;
	margin: auto;
	text-decoration: none;
	font-size: 20px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px 5px;
	background-color: #99d6cf;
    transition: 250ms;
    color: black;
	box-shadow: 0 5px 5px;
	text-align: center;
}
.admin-container a:hover, a:active {
	background-color: #335f78;
	color: white;
}
.admin-container a:hover {
	box-shadow: 0 3px 3px black;
}

#admin-hero-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	justify-content: center;
	margin-top: 3em;
}
#admin-hero-header p {
	width: 60%;
	margin-top: 1em;
}
.location-header {
	text-align: center;
}
/* nelson page style */
#nelson-hero {
	background: url('/images/admin-home-bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	image-rendering: auto;
	height: 150vh;
}
#nelson-hero-background {
	height: 150vh;
	background-color: rgba(255, 255, 255, 0.267);
	z-index: -1;
}
/*responsive styling for phone landscape*/
@media only screen
	and (min-device-width: 421px)
	and (max-device-width: 767px) {
		.hero-header {
			transform: translateY(2em)
		}
		#navLogo {
			width: 8em;
		}

		.white-nav {
			width: 4em;
		}
		.mission-statement-container {
			flex-direction: row;
			overflow-x: hidden;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.third-card {
			flex-basis: 100%;
			align-self: center;
		}
		.mission-statement-card {
			flex-basis: 40%;
		}
		.donation-card h2 {
			font-size: 35px;
		}
		.donation-card h4 {
			line-height: 1.2;
			font-size: 20px;
		}
		.team-hero-headers {
			transform: translateY(-1em);
		}
		.team-hero-headers h3 {
			font-size: 35px;
		}
		.team-card img {
			height: 15em;
			width: 19em;
			box-shadow: 0 0 5px;
		}
		.team-container {
			margin-top: 2em;
		}
		.card-body h4 {
			text-align: center;
		}
		.page-cta h2 {
			font-size: 35px;
			transform: translateY(-1em);
			margin-bottom: 0;
		}
		.page-container {
			transform: translateY(-2em);
			margin-top: 0;
		}
		.contact-form-container {
			width: 90vw;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
		}
		.top-row input {
			width: 100%;
		}
		.input-group {
			width: 100%;
			transform: translateY(-6em);
			height: 4em;
		}
		#submitBtn {
			transform: translateY(-4.9em);
			height: 6.5em;
		}
		#login-form-container {
			transform: translateY(-5em);
			margin-bottom: 1em;
		}
		#register-form-container {
			transform: translateY(-6em);
		}
		#contact-hero, #contact-hero-background {
			height: 120vh !important;
		}
		.location-page-container{
			display: flex;
			flex-direction: column;
		}
		.sponsor-img {
			width: 5em !important;
			height: 5em !important;
		}
		.sponsor-img-link {
			flex-basis: 30% !important;
			flex-wrap: nowrap !important;
		}
		.sponsor-container {
			justify-content: center !important;
			width: 100vw !important;
		}
	}

/* styling for ipads */
@media only screen 
	and (min-width: 768px)
	and (max-width: 1024px) {
		.hero-header {
			transform: translateY(13em);
		}
		.hero-header h1 {
			font-size: 45px;
		}
		.mission-statement-header {
			font-size: 35px;
		}
		.mission-statement-card {
			width: 30vw;
		}
		.mission-statement-container {
			flex-direction: row;
			padding: 0;
			margin: 0;
			width: 100%;
			justify-content: space-evenly;
		}
		#donation {
			height: 50vh;
		}
		#donation-background {
			height: 50vh;
		}
		.testimonial-card {
			height: 30vh;
		}
		.team-hero-headers h3 {
			transform: translateY(2em);
			font-size: 45px;
		}
		.team h2 {
			font-size: 35px;
		}
		#contact-hero, #contact-hero-background {
			height: 92vh;
		}
		.contact {
			transform: translateY(6em)
		}
		.page-cta h2 {
			font-size: 65px;
		}
		#login-form-container, #register-form-container {
			transform: translateY(-6em);
		}
		.register-page {
			height: 120vh !important;
		}
		.sponsor-img {
			width: 7em !important;
			height: 7em !important;
		}
		.sponsor-container {
			display: flex;
			flex-direction: column;
		}
		.sponsor-img-link {
			flex-basis: 20% !important;
			width: 8em;
			margin: auto;
			margin-top: 4em;
		}
		.sponsor-container {
			justify-content: center !important;
			width: 30vw !important;
		}
	}
@media only screen 
	and (min-width: 1024px)
	and (max-width: 1365px) {
		#hero {
			height: 95vh;
		}
		#hero-background {
			height: 95vh;
		}
		.hero-header {
			transform: translateY(8em)
		}
		.hero-header h1 {
			font-size: 55px;
		}
		#navLogo {
			width: 18em;
		}
		.mission-statement-header {
			font-size: 40px;
		}
		.mission-statement-card {
			width: 30vw;
		}
		.mission-statement-container {
			flex-direction: row;
			padding: 0;
			margin: 0;
			width: 100%;
			justify-content: space-evenly;
		}
		.donation-card h4 {
			line-height: 2;
			letter-spacing: 1.6;
			padding: 0 3em;
		}
		#testimonial-quote {
			padding: 0 5em;
			margin-bottom: 1em;
			line-height: 2;
			letter-spacing: 1.4;
		}
		.team-hero-headers h3 {
			font-size: 40px;
			transform: translateY(-2em)
		}
		.contact {
			transform: translateY(-3em);
		}
		#login-form-container {
			transform: translateY(-4em);
		}
		#register-form-container {
			transform: translateY(-4em);
			margin-bottom: 2em;
		}
		.team-card {
			flex-basis: 30%;
		}
		.contact-form-container {
			flex-direction: row;
			justify-content: center;
		}
		.top-row {
			flex-basis: 30%;
		}
		#contact-msg {
			flex-basis: 60%;
		}
		#contact-msg textarea, span {
			height: 100%;
			transform: translateY(-2em);
		}
		.contactBtn {
			flex-basis: 60%;
			margin-bottom: 1em;
			transform: translateY(-1em);
		}
		.register-page {
			height: 100vh !important;
		}
		
	}
@media only screen 
	and (min-width: 1366px)
	and (max-width: 1920px)
	and (-webkit-min-device-pixel-ratio: 1) {
		#hero {
			height: 100vh;
		}
		#hero-background {
			height: 100vh;
		}
		#navLogo {
			width: 18em;
		}
		.hero-header {
			transform: translateY(10em);
		}
		.mission-statement-header {
			font-size: 30px;
			font-weight: 500;
		}
		.mission-statement-card {
			width: 30vw;
		}
		.mission-statement-container {
			flex-direction: row;
			padding: 0;
			margin: 0;
			width: 100%;
			justify-content: space-evenly;
			margin-bottom: 2em;
		}
		#testimonial-quote {
			padding: 0 4em;
			line-height: 1.5;
		}
		#team-hero, #team-hero-background {
			height: 85vh;
		}
		.team-container {
			flex-direction: row;
			flex-wrap: wrap;
			flex-basis: 30%;
		}
		.team h2 {
			font-size: 40px;
		}
		.team-card {
			flex-basis: 30%;
			margin-bottom: 1em;
			margin-top: 1em;
		}
		.team-card img {
			width: 100%;
			height: 19em;
			box-shadow: 0 0 10px;
		}
		.team-card h4 {
			text-align: center;
			font-size: 30px;
		}
	}
/* report pages */

.location-page-container {
	display: flex;
	justify-content: space-around;
}
.sponsor-container {
	width: 30em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 2em;
}

.sponsor-img-link {
	flex-basis: 50%;
}
.sponsor-img {
	width: 12em;
	height: 12em;
	margin: .5em;
	box-shadow: 0px 0px 10px black;
	transition: 250ms;
}
.sponsor-img:hover {
	transform: scale(1.1);
}

.sponsor-heading {
	text-align: center;
}
.report-info {
	text-align: center;
}

.report-container {
	width: 40em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.report-container video {
	margin-bottom: 1em;
}
.report-location , .report-date {
	text-transform: capitalize;
	color: black;
}

.donate-btn {
	background-color: #f7941d;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 0 0 2px;
}
/*animations*/

@keyframes fadeUp {
	0% {opacity: 0; transform: translateY(1em);}
	100% {opacity: 1; transform: translateY()}
}