<%- include('../partials/header') %> 
<section id="contact-hero" class="register-page">
    <div id="contact-hero-background" class="register-page">
<%- include('../partials/navbar') %> 


<div id="login-form-container" class="row">
    <div class="col-6 offset-1">
        <form class="validated-form" id="login-form" method="POST" action="/login" novalidate>
            <h1 id="login-header" class="text-center">Login</h1>
            <div>
                <label class="form-label" for="email">Email</label>
                <input  class="form-control" type="email" id="email" name="email" required>
            </div>
            <div>
                <label class="form-label" for="password">Password</label>
                <input  class="form-control" type="text" id="username" name="password" required>
            </div>
            <button class="btn">Login</button>
            <a href="register">Not a member? Sign up!</a>
        </form>
    </div>
</div>
</section>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.validated-form')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
<%- include('../partials/footer') %> 